<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823940242544-j7noc2n38dvk4f7chcadde6n7sfoebjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823940242544-j7noc2n38dvk4f7chcadde6n7sfoebjn</string>
	<key>API_KEY</key>
	<string>AIzaSyAYeq-tu8XG04eUp0niHhIcEUfGwF_KTfw</string>
	<key>GCM_SENDER_ID</key>
	<string>823940242544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polymathe.biolensback</string>
	<key>PROJECT_ID</key>
	<string>biolens-ef25c</string>
	<key>STORAGE_BUCKET</key>
	<string>biolens-ef25c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823940242544:ios:8c958ef07617752ea828b5</string>
</dict>
</plist>